<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87511151381-4hog50mbrmv14mtennuirrtgktnst5jg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87511151381-4hog50mbrmv14mtennuirrtgktnst5jg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>87511151381-3bubabk1hd3aodqe0kasaahg6lu72gah.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8SVA3TDjd91itKJfEJHIjWUrcLVyfA88</string>
	<key>GCM_SENDER_ID</key>
	<string>87511151381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mna.iter</string>
	<key>PROJECT_ID</key>
	<string>iter-mn</string>
	<key>STORAGE_BUCKET</key>
	<string>iter-mn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87511151381:ios:b851dbb61065b7476d6f1c</string>
</dict>
</plist>